/* Find by Restaurant and Find by Meal styles */
div.all-restaurants,
div.meals,
div.all-meals {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}

div.all-restaurants a,
div.meals a,
div.all-meals a {
    width: 250px;
    height: 150px;
    margin: 0.5em;
    border: 1px solid black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 400px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rbga(0, 0, 0, 0.5);
    opacity: 1;
}

div.all-restaurants a div.name,
div.meals a div.name,
div.all-meals a div.name {
    height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

div.all-restaurants a:hover,
div.meals a:hover,
div.all-meals a:hover {
    background-color: rbga(0, 0, 0, 0.5);
    opacity: 0.6;
}

div.name span {
    color: white;
}

/* Find by Restaurant Detail and Meal Detail styles */
div.restaurantDetail h1,
div.mealDetail h1 {
    color: white;
    text-align: center;
    background-color: #fe5f55;
    padding: 0.25em;
}

div.restaurantDetail,
div.mealDetail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    /*background-color: #d6d1b1;*/
    border-radius: 10px;
}

div.restaurantDetail div.image,
div.mealDetail div.image {
    text-align: center;
}

div.restaurantDetail img {
    width: 100%;
    padding: 0em;
    margin: 10px 0 0 0;
}

div.mealDetail div.image img {
    width: 100%;
}

div.restaurantDetail h1,
div.mealDetail h1 {
    text-align: center;
}

div.details {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1em;
}

div.description > h2 {
    margin: 10px 10px;
    /*display: flex;
    flex-direction: row;
    align-items: baseline;*/
}

div.description > p {
    margin: 20px 10px;
    /*display: flex;
    flex-direction: row;
    align-items: baseline;*/
}

.description{
    width: 100%;
}
/* Colors */
/* Red #fe5f55
Orange #f0b67f
Light-brown #d6d1b1
Green #c7efcf
Light-green #eef5db
 */

div.all-locationtypes h3{
    display: inline-block;
    text-align: center;
}