/*.chowserhead{
    height: 200px;
    background-color: #fe5f55;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.chowserhead img{
    width: 100%;
}

.chowserhead h2{
}

.navbar-brand{
    font-size: 25px;
}

.navbar-static-top a {
    color: white;
}

.nav > li > a:hover,
.nav > li > a:focus{
background-color:#d6d1b1 ;

}

.wrapper{
    width:100%;
}

.wrapper .content{
    margin: 0 auto;
    width: 80%;
}

.navbar-static-top {
    background-color: #fe5f55;
    font-family: "Dosis";
    font-size: 18px;
    margin-bottom: -20px;
}

.headerview{
    color: white;
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    padding-top: 25px;
    background-color: rgba(238,245,219,0.3);

}

.content > h1,
.content > h3{
    text-align: center;
    font-family: Dosis;
}

.content > h3 {
    padding-bottom: 10px;
}

.content > h1 {
    font-size: 40px;
}
