.navbar-static-top a{
    color: white;
}

.nav > li > a:hover, .nav > li > a:focus{
background-color: darkred;
}


.wrapper{
    width:100%;
}
.navbar-static-top {
    background-color: #fe5f55;
}

.headerview{
    color: white;
    margin: 0 auto;
    text-align: center;
}

.menubar {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 230px;
}

.menubar a {
    width: 100%;
    background-color: indianred;
    text-align: center;
    padding: 15px 0;
}
.menubar a:first-child{
    background-color: #fe5f55;
}
.menubar a:first-child:hover{
    background-color: #fe5f55;
}

.menubar a:hover {
    background-color: #fe5f55
}

.content {
    height: 300px;
}