/* Find by Restaurant styles */
div.all-restaurants,
div.meals {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}

div.all-restaurants a,
div.meals a {
    width: 250px;
    height: 150px;
    margin: 0.5em;
    border: 1px solid black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 400px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rbga(0, 0, 0, 0.5);
    opacity: 1;
}

div.all-restaurants a div.name,
div.meals a div.name {
    height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

div.all-restaurants a:hover,
div.meals a:hover {
    background-color: rbga(0, 0, 0, 0.5);
    opacity: 0.6;
}

div.name span {
    color: white;
}

/* Find by Restaurant Detail styles */
div.restaurantDetail h1{
    color: white;
    text-align: center;
    background-color: #fe5f55;
}

div.restaurantDetail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    /*background-color: #d6d1b1;*/
    border-radius: 10px;
}

div.restaurantDetail div.image {
    text-align: center;
}

div.restaurantDetail div.image img {
    width: 100%;
    padding: 1em;
}

div.restaurantDetail h1 {
    text-align: center;
}

div.details {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1em;
}

div.description {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/* Colors */
/* Red #fe5f55
Orange #f0b67f
Light-brown #d6d1b1
Green #c7efcf
Light-green #eef5db
 */